@import '../../App.css';
footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: var(--main-color);
    padding: 2%;
}

.footmention {
    width: fit-content;
    height: auto;
    margin: auto;
    align-self: flex-start;
}

.reseaux {
    align-self: flex-end;
    width: fit-content;
    margin: auto;
    height: auto;
}

.reseaux li {
    padding-left: 0;
}

.reseaux ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

@media (max-width: 480px) {
    footer {
        display: none;
    }
}