@import '../../App.css';
footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: var(--main-color);
    padding: 2%;
}

.footmention {
    width: fit-content;
    height: auto;
    margin: auto;
    align-self: flex-start;
    color: var(--background-color);
    text-decoration: none;
}

.reseaux {
    text-align: left;
    align-self: flex-end;
    width: fit-content;
    margin: auto;
    height: auto;
    align-items: center;
    color: var(--background-color);
}

.reseaux li:not(:first-child) {
    padding-left: 1vw;
}

.reseaux i {
    font-size: 1.8vw;
    color:var(--background-color);
}

.reseaux ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    width: fit-content;
}
.reseaux a{
    text-decoration: none;
}

footer a,
footer h2 {
    font-size: 1.5vw;
}

.reseaux li:nth-child(3):hover i {
    color: #2C3456 !important;
    transition: 0.5s;
}

.reseaux li:nth-child(2):hover i {
    color: #6A9AEE !important;
    transition: 0.5s;
}

.reseaux li:nth-child(1):hover i {
    color: #CC296C !important;
    transition: 0.5s;
}

footer a {
    font-size: 1vw;
}

@media (max-width: 480px) {
    footer {
        margin-top: 30vh;
    }
    footer a,
    footer h2 {
        font-size: 2.5vw;
    }
    .reseaux i {
        font-size: 3vw;
    }
}