:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --main-color: #FE7785;
    --secondary-color: rgba(254, 119, 133, 0.56);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

@font-face {
    font-family: "Montserrat-bold";
    src: url("../public/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-semi-bold";
    src: url("../public/Montserrat/Montserrat-SemiBold.ttf");
}

h1,
span {
    font-family: "Montserrat-bold";
}

h2 {
    font-family: "Montserrat-semi-bold";
}

.h_box {
    display: flex;
    flex-direction: row;
}

.container {
    width: 80%;
    margin: auto;
    margin-bottom: 20%;
}

.welcome-text {
    width: 60%;
    margin: auto;
}

.img-container {
    width: 40%;
    margin: auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.welcome-text h1 {
    font-size: 4vw;
    margin: 0;
}

.welcome-text h2 {
    width: 80%;
    font-size: 2vw;
    margin: 0;
}

.welcome-text h1 span {
    color: var(--main-color);
}

.fil {
    width: 2vw;
    background-color: var(--main-color);
    height: 210vh;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.slide {
    margin-top: 20vh;
}

.protect,
.protect-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pp {
    margin-top: 30%;
}

.protect .p-text {
    width: 60%;
}

.p-text h1 {
    font-size: 4vw;
}

.protect .p-text p,
.protect2 .p-text p {
    width: 60%;
}

.p-text p {
    font-size: 2vw;
}

.p-img i {
    font-size: 10vw;
    color: rgba(254, 119, 133, 0.56);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.protect .p-img {
    margin: auto;
}

.p-img {
    text-align: center;
}

.protect-2 .p-text {
    margin: auto;
    margin-right: 0;
}

.protect-2 .p-img {
    width: 35%;
}

.contactinfo{
    display: flex;
    flex-direction: row;
}



.imagecont {
    width: 20vw;
    height: 20vw;
    margin: auto;
    margin-right:10%;
}

.contactinfo ul{
    list-style: none;
    height: fit-content;
    width: 40vw;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    border-radius: 1vw;
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 10px 0px, rgb(0 0 0 / 5%) 0px 2px 6px 0px;
}


.contactinfo li{
    padding:0.8vw ;
}

.titrecontact{
    font-size: 3vw;
}